@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap');

body {
    font-family: Roboto-condensed, sans-serif;
    font-weight: 300;
    color: #fef0de;
}

.text-color {
    color: #140302;
}

.nav-link {
    color:#140302;
}

.nav-text {
    color: #140302;
    padding-left: 5px;
}

.navbar {
    display: flex;
    list-style: none;
    padding-left: 0;
    font-family: Roboto, sans-serif;
}

.title {
    font-weight: 600;
    font-size: xx-large;
}

.dark-bg {
    background-color: #F17D3A;
}

.nav-link:hover {
    text-decoration: underline;
    color: #140302;
}

.index-card {
    border: #140302;
    background-color: #F17D3A;
}

.image-container {
    position: relative;
}

.image-user {
    position: relative;
    bottom: 10%;
    top: 10%;
    min-width: 40%;
    color: #140302;
}

.user {
    text-transform: capitalize;
    margin: 5px;
}

.post-link {
    text-decoration: none;
    color: #140302;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #F17D3A;
    color: #140302;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #F17D3A;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.card-body {
    background-color: #F17D3A;
    color: #140302;
    border: solid 2px;
    border-color: #140302;
}

.btn-like {
    color: #140302;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #140302;
    background: transparent;
    border: none;
}

.no-border {
    border: none;
}