{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- To display multiple posts on homepage -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="index-card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img src="https://res.cloudinary.com/dfun20was/image/upload/v1666256179/PP4/pexels-sydney-troxell-708587_mbtrnu.jpg"
                                    alt="pizza picture" class="card-img-top">
                                {% else %}
                                <img src="{{ post.featured_image.url }}" alt="Post Picture" class="card-image-top">
                                {% endif %}
                                <div class="image-user">
                                    <p class="user">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.excerpt }}</p>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>

{% endblock %}